@page
@model Restaurant_Management.Pages.Services.Recipes.EditModel

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Recipe.Id" />
            <div class="form-group">
                <label asp-for="Recipe.ItemId" class="control-label"></label>
                <input asp-for="Recipe.ItemId" class="form-control" />
                <span asp-validation-for="Recipe.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.IngredientId" class="control-label"></label>
                <select asp-for="Recipe.IngredientId" class="form-control" asp-items="ViewBag.IngredientId"></select>
                <span asp-validation-for="Recipe.IngredientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Quantity" class="control-label"></label>
                <input asp-for="Recipe.Quantity" class="form-control" />
                <span asp-validation-for="Recipe.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Unit" class="control-label"></label>
                <input asp-for="Recipe.Unit" class="form-control" />
                <span asp-validation-for="Recipe.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Instructions" class="control-label"></label>
                <input asp-for="Recipe.Instructions" class="form-control" />
                <span asp-validation-for="Recipe.Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
