@page
@model Restaurant_Management.Pages.Services.BookingItems.EditModel

<h4>BookingItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingItem.Id" />
            <div class="form-group">
                <label asp-for="BookingItem.BookingId" class="control-label"></label>
                <select asp-for="BookingItem.BookingId" class="form-control" asp-items="ViewBag.BookingId"></select>
                <span asp-validation-for="BookingItem.BookingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.ItemId" class="control-label"></label>
                <input asp-for="BookingItem.ItemId" class="form-control" />
                <span asp-validation-for="BookingItem.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Sku" class="control-label"></label>
                <input asp-for="BookingItem.Sku" class="form-control" />
                <span asp-validation-for="BookingItem.Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Price" class="control-label"></label>
                <input asp-for="BookingItem.Price" class="form-control" />
                <span asp-validation-for="BookingItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Discount" class="control-label"></label>
                <input asp-for="BookingItem.Discount" class="form-control" />
                <span asp-validation-for="BookingItem.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Quantity" class="control-label"></label>
                <input asp-for="BookingItem.Quantity" class="form-control" />
                <span asp-validation-for="BookingItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Unit" class="control-label"></label>
                <input asp-for="BookingItem.Unit" class="form-control" />
                <span asp-validation-for="BookingItem.Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Status" class="control-label"></label>
                <input asp-for="BookingItem.Status" class="form-control" />
                <span asp-validation-for="BookingItem.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.CreatedAt" class="control-label"></label>
                <input asp-for="BookingItem.CreatedAt" class="form-control" />
                <span asp-validation-for="BookingItem.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.UpdatedAt" class="control-label"></label>
                <input asp-for="BookingItem.UpdatedAt" class="form-control" />
                <span asp-validation-for="BookingItem.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingItem.Content" class="control-label"></label>
                <input asp-for="BookingItem.Content" class="form-control" />
                <span asp-validation-for="BookingItem.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
