@page
@model Restaurant_Management.Pages.Services.ItemChefs.EditModel

<h4>ItemChef</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemChef.Id" />
            <div class="form-group">
                <label asp-for="ItemChef.ItemId" class="control-label"></label>
                <input asp-for="ItemChef.ItemId" class="form-control" />
                <span asp-validation-for="ItemChef.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemChef.ChefId" class="control-label"></label>
                <select asp-for="ItemChef.ChefId" class="form-control" asp-items="ViewBag.ChefId"></select>
                <span asp-validation-for="ItemChef.ChefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemChef.Active" class="control-label"></label>
                <input asp-for="ItemChef.Active" class="form-control" />
                <span asp-validation-for="ItemChef.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
